*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    position: relative;
   width: 100%;
   height: 100%;
    background: #FFFFFF;
}
#header1{
    position: absolute;
    width: 422px;
    height: 428px;
    left: 298px;
    top: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 8px rgba(14, 12, 12, 0.25);
}
#header2{
    position: absolute;
    width: 422px;
    height: 428px;
    left: 720px;
    top: 130px;

    background: linear-gradient(223.71deg, #FF0036 4.4%, #FF6787 100%);
}
#ip1{
    color: #FF0036;
}
#tl{
    position: absolute;
    width: 256px;
    height: 27px;
    left: 90px;
    top: 120px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
}
#tieude{
    position: absolute;
    width: 157px;
    height: 42px;
    left: 180px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #FF0036;
}
#reset{
    float: left;
}
#hello{
    float: right;

}
#frm{
    width: 300px;
    height: auto;
    margin: 100px;
    line-height: 20px;
    
}
#dangnhap ,#passwords,#email,#passwordes{
    width: 300px;
    height: 26px;
    border-radius: 10px 10px 10px 10px;
}
#btn{
    position: absolute;
    width: 300px;
    height: 26px;
    left: 100px;
    background: #FF0036;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}
#imga{
    position: relative;
    width: 100%;
    height: auto;

}
img{
    position: absolute;
    top: 50px;
    left: 124px;
    background-color: #FF0036;
}
#footer1{
    position: absolute;
    top: 180px;
    text-align: center;
    left: 10px;
    width: 100%;
}
a{
    position: absolute;
    list-style: none;
    color: #FFFFFF;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px 10px 10px 10px;
    left: 160px;
    top: 20px;
    border: 1px solid #FFFFFF;
    list-style: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header{
        position: relative;
       width: 100%;
       height: 100%;
    
        background: #FFFFFF;
    }
    #header1{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 298px;
        top: 130px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 8px 8px rgba(229, 229, 229, 0.25);
    }
    #header2{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 720px;
        top: 130px;
    
        background: linear-gradient(223.71deg, #FF0036 4.4%, #FF6787 100%);
    }
    #tl{
        position: absolute;
        width: 256px;
        height: 27px;
        left: 90px;
        top: 120px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        
        color: #FFFFFF;
    }
    #tieude{
        position: absolute;
        width: 157px;
        height: 42px;
        left: 180px;
        top: 50px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #FF0036;
    }
    #reset{
        float: left;
    }
    #hello{
        float: right;
    
    }
    #frm{
        width: 300px;
        height: auto;
        margin: 100px;
        line-height: 20px;
        
    }
    #dangnhap ,#passwords{
        width: 300px;
        height: 26px;
        border-radius: 10px 10px 10px 10px;
    }
    #btn{
        position: absolute;
        width: 300px;
        height: 26px;
        left: 100px;
        background: #FF0036;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #header{
        position: relative;
       width: 100%;
       height: 100%;
    
        background: #FFFFFF;
    }
    #header1{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 298px;
        top: 130px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 8px 8px rgba(229, 229, 229, 0.25);
    }
    #header2{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 720px;
        top: 130px;
    
        background: linear-gradient(223.71deg, #FF0036 4.4%, #FF6787 100%);
    }
    #tl{
        position: absolute;
        width: 256px;
        height: 27px;
        left: 90px;
        top: 120px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        
        color: #FFFFFF;
    }
    #tieude{
        position: absolute;
        width: 157px;
        height: 42px;
        left: 180px;
        top: 50px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #FF0036;
    }
    #reset{
        float: left;
    }
    #hello{
        float: right;
    
    }
    #frm{
        width: 300px;
        height: auto;
        margin: 100px;
        line-height: 20px;
        
    }
    #dangnhap ,#passwords{
        width: 300px;
        height: 26px;
        border-radius: 10px 10px 10px 10px;
    }
    #btn{
        position: absolute;
        width: 300px;
        height: 26px;
        left: 100px;
        background: #FF0036;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #header{
        position: relative;
       width: 100%;
       height: 100%;
    
        background: #FFFFFF;
    }
    #header1{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 298px;
        top: 130px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 8px 8px rgba(229, 229, 229, 0.25);
    }
    #header2{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 720px;
        top: 130px;
    
        background: linear-gradient(223.71deg, #FF0036 4.4%, #FF6787 100%);
    }
    #tl{
        position: absolute;
        width: 256px;
        height: 27px;
        left: 90px;
        top: 120px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        
        color: #FFFFFF;
    }
    #tieude{
        position: absolute;
        width: 157px;
        height: 42px;
        left: 180px;
        top: 50px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #FF0036;
    }
    #reset{
        float: left;
    }
    #hello{
        float: right;
    
    }
    #frm{
        width: 300px;
        height: auto;
        margin: 100px;
        line-height: 20px;
        
    }
    #dangnhap ,#passwords{
        width: 300px;
        height: 26px;
        border-radius: 10px 10px 10px 10px;
    }
    #btn{
        position: absolute;
        width: 300px;
        height: 26px;
        left: 100px;
        background: #FF0036;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #header{
        position: relative;
       width: 100%;
       height: 100%;
    
        background: #FFFFFF;
    }
    #header1{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 298px;
        top: 130px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 20px 20px rgba(14, 12, 12, 0.25);
    }
    #header2{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 720px;
        top: 130px;
        background: linear-gradient(223.71deg, #FF0036 4.4%, #FF6787 100%);
    }
    #tl{
        position: absolute;
        width: 256px;
        height: 27px;
        left: 90px;
        top: 120px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        
        color: #FFFFFF;
    }
    #tieude{
        position: absolute;
        width: 157px;
        height: 42px;
        left: 180px;
        top: 50px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #FF0036;
    }
    #reset{
        float: left;
    }
    #hello{
        float: right;
    
    }
    #frm{
        width: 300px;
        height: auto;
        margin: 100px;
        line-height: 20px;
        
    }
    #dangnhap ,#passwords{
        width: 300px;
        height: 26px;
        border-radius: 10px 10px 10px 10px;
    }
    #btn{
        position: absolute;
        width: 300px;
        height: 26px;
        left: 100px;
        background: #FF0036;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #header{
        position: relative;
       width: 100%;
       height: 100%;
    
        background: #FFFFFF;
    }
    #header1{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 298px;
        top: 130px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 8px 8px rgba(229, 229, 229, 0.25);
    }
    #header2{
        position: absolute;
        width: 422px;
        height: 428px;
        left: 720px;
        top: 130px;
    
        background: linear-gradient(223.71deg, #FF0036 4.4%, #FF6787 100%);
    }
    #tl{
        position: absolute;
        width: 256px;
        height: 27px;
        left: 90px;
        top: 120px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        
        color: #FFFFFF;
    }
    #tieude{
        position: absolute;
        width: 157px;
        height: 42px;
        left: 180px;
        top: 50px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #FF0036;
    }
    #reset{
        float: left;
    }
    #hello{
        float: right;
    
    }
    #frm{
        width: 300px;
        height: auto;
        margin: 100px;
        line-height: 20px;
        
    }
    #dangnhap ,#passwords{
        width: 300px;
        height: 26px;
        border-radius: 10px 10px 10px 10px;
    }
    #btn{
        position: absolute;
        width: 300px;
        height: 26px;
        left: 100px;
        background: #FF0036;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
    }
}

